<div class="min-h-dvh w-full bg-zinc-950 text-zinc-100 flex">
  <div class="bg-black h-dvh w-dvw p-[5%] flex flex-col gap-3">
    <div class="flex items-start justify-between">
      <div class="flex flex-col gap-6">
        <h1
          class="text-white text-4xl md:text-5xl font-bold max-w-3xl [word-spacing:4px]"
        >
          Benvenuto nella tua <span class="text-blue-500">area personale</span>
        </h1>
        <p class="text-gray-300 max-w-2xl">
          Gestisci il tuo conto, visualizza i prestiti e accedi a servizi
          personalizzati in un'unica piattaforma sicura e intuitiva.
        </p>

        <div class="mt-2 flex gap-2">
          <button
            type="button"
            class="rounded-xl border border-zinc-700 bg-zinc-900 px-4 py-2 text-sm font-medium text-zinc-100 hover:bg-zinc-800 active:scale-[0.98] transition cursor-pointer"
            (click)="openRequestModal()"
          >
            Nuova richiesta prestito
          </button>

          <button
            type="button"
            class="rounded-xl border border-zinc-700 bg-zinc-900 px-4 py-2 text-sm font-medium text-zinc-100 hover:bg-zinc-800 active:scale-[0.98] transition cursor-pointer"
            (click)="openIncomeModal()"
          >
            Aggiorna entrate
          </button>
        </div>
      </div>
      <button
        type="button"
        (click)="onLogout()"
        class="shrink-0 rounded-xl border border-zinc-800 bg-zinc-900 p-2 text-zinc-300 hover:text-white hover:bg-zinc-800 transition"
        aria-label="Logout"
        title="Logout"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v9m6.36-6.36a9 9 0 11-12.73 0"
          />
        </svg>
      </button>
    </div>

    <app-loans-table />
  </div>
  <app-update-income-modal
    [open]="incomeOpen()"
    (closed)="onIncomeClosed()"
    (updated)="onIncomeUpdated($event)"
  ></app-update-income-modal>
  <app-loan-request-modal
    [open]="requestOpen()"
    (closed)="onModalClosed()"
  ></app-loan-request-modal>
  <app-create-customer-modal
    [open]="createCustomerOpen()"
    (closed)="onCreateClosed()"
    (created)="onCustomerCreated()"
  ></app-create-customer-modal>
</div>
<app-unauthorized />
