<div class="min-h-dvh w-full bg-zinc-950 text-zinc-100 flex">
  <div class="bg-black h-dvh w-dvw p-[5%] flex flex-col justify-between">
    <div class="flex flex-col gap-6">
      <h1
        class="text-white text-4xl md:text-5xl font-bold max-w-3xl [word-spacing:4px]"
      >
        Benvenuto nella tua <span class="text-blue-500">area personale</span>
      </h1>
      <p class="text-gray-300 max-w-2xl">
        Gestisci il tuo conto, visualizza i prestiti e accedi a servizi
        personalizzati in un'unica piattaforma sicura e intuitiva.
      </p>
    </div>
    <app-loans-table />
  </div>
</div>
